{{elements/x-navigation}}

{{#ui-sidebar class="inverted vertical menu"}}
  {{#link-to 'index' class="item"}}
    <i class="fa fa-fw fa-tachometer"></i>
    Dashboard
  {{/link-to}}
{{/ui-sidebar}}

<div class="fluid pusher container application__container">
  {{outlet}}
</div>
